.Projects{
    background-color: rgba(73, 73, 73, 0.68);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.5em;
    backdrop-filter: blur(5px);
}
.Projects h1{
    font-size: 2em;
    font-weight: 500;
}