.Layout{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: rgba(73, 73, 73, 0.68);
    padding: 0 1em 0 1em;
    border-radius: 0 0 0.5em 0.5em;
    backdrop-filter: blur(5px);
    font-size: 0.7em;
}
.Layout a{
    color: white;
    text-decoration: none;
}
.Layout a:hover{
    color: #519444;
}