.Project-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
}
.Project-links>div>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 500;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: all 0.25s;
}
.Project-links a span{
    font-size: 0.5em;
    font-weight: 200;
}
.Project-links a:hover{
    color: #519444;
}
.Project-link-div{
    display: flex;
    flex-direction: column;
}
.Project-link-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    max-width: 10vw;
    font-size: 0.8em;
    font-weight: 200;
    color: #bbbbbb;
}

.inline-link{
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: all 0.25s;

}

@media (max-width: 768px) {
    .Project-links{
        flex-direction: column;
        align-items: center;
    }
    .Project-link-div{
        flex-direction: row;
    }
    .Project-link-description{
        margin-left: 0;
        max-width: 100%;
    }
}